{% extends 'base.html.twig' %}


{% block body %}
    {% if employes == [] %}
        <p>Aucunn cours trouvé</p>
    {% else %}
        <ul>
            {% for employe in employes %}
                <li>{{ employe.nom }} <strong>{{  employe.prenom }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}