{% extends 'base.html.twig' %}

{% block title %}Hello RequeteController!{% endblock %}

{% block body %}
    <h3>Les themes</h3>
    <table class="table">
        <tr>
            <td>id</td>
            <td>themes</td>
            <td>options</td>
        </tr>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.libelle }}</td>
                <td class="d-flex justify-content-between">

                        <a href="voirTheme/{{ theme.id }}"><button class="btn tbn primary">Voir</button></a>

                        <a href="supprimerTheme/{{ theme.id }}"><button class="btn btn-danger">Supprimer</button></a>


                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}